
<div *ngIf = "!(authService.user | async)"> 
  <h1> Please login first! </h1>
</div>
<div *ngIf = "(authService.user | async)">

    <div>

        <ul>
      <h2> Your Items </h2>
          <item *ngFor = "let item of items" 
                [data]="item"
                ></item>
      
        </ul>
      
      </div>



</div>

