<mat-card><button *ngIf = "(authService.user | async)" mat-raised-button class="nav-side" (click)= "toItems()">
  Items
</button> 

<button *ngIf = "!(authService.user | async)" mat-raised-button class="nav-side" (click)= "toLogin()">
  Login
</button> 

<button *ngIf = "(authService.user | async)" mat-raised-button class="nav-side" (click)= "toLogout()">
  Logout
</button> 
</mat-card>