

<li (mouseenter) = "showButton()"
    (mouseleave) = "hideButton()"> 
    <span> {{ name }} - {{price}} </span>
    <mat-checkbox
    [(ngModel)]="stock"
    (change) = "checkChange()">
    </mat-checkbox>  
    <button mat-raised-button
            (click) = "openDelete()"
            *ngIf = "showTheButton">
            <span *ngIf = "!delete"> Delete </span> <span *ngIf = "delete" (click) = "deleteItem()"> Click to delete </span> </button>
          
    

            <button mat-raised-button
            (click) = "cancel()"
            *ngIf = "showTheButton && delete">
            Cancel</button>
         
            

</li>
